.page{
	font-family: Verdana;
	font-style: normal;
	font-size: 14pt;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	width: 80%;
	
	padding-left: 3%;
	padding-right: 3%;
}
.header{
	border: 1px solid black;
	overflow: hidden;
	vertical-align: middle;
	padding: 0.5%;
}
.content{
	margin-top: 2%;
}
.login{
	width: 25%;
	float: right;
	text-align: center;

}
.loginbox{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 3%;

}
.loginelement{
	margin-top: 0.5%;
}
.logoutlink{
	padding-left: 0.5%;
	font-size: 12pt;
}
.postsubmit{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.subforumlisting{
	border-bottom: 1px solid gray;
	padding: 1%;
	margin-bottom: 1%;
}
.errors{
	border-bottom: 1px solid black;
}
.error{
	color: red;
	font-weight: bold;
}
.subforumtitle{
	color: blue;
	font-size: 15pt;
	font-weight: bold;
}
.subforumdesc{
	font-size: 13pt;
	font-style: italic;
}
.subforumheader{
	padding: 1%;
	padding-bottom: none;
	margin-bottom: 1%;
	border: 1px solid black;
	font-size: 15pt;
}
.subforumheadertitle{
	display: inline;
	font-weight: bold;
}
.subforumheaderdesc{
	display: inline;
}
.post{
	padding: 1%;
	border-bottom: 1px solid gray;
}
.postusername{
	font-style: italic;
	font-size: 12pt;
}
.subforumheaderlink{
	font-style: italic;
	font-size: 14pt;
}
.postinginfo{
	font-size: 13pt;
}
#nolinks{
	text-decoration: none;
}