{% extends 'layout.html' %}
{% block body%}


{% if errors %}
	<div class="errors">
	{% for error in errors %}
		<p class="error">
			{{ error }}
		</p>

	{% endfor %}
	</div>
{% endif %}
<div class="postsubmit">
Enter your post here:<br>
<div class="postinginfo">
	You are posting to {{ subforum.title }}
</div>

<form action="action_post?sub={{ subforum.id }}" method="POST">

	<input type="text" placeholder="Title" name="title"><br>

	<textarea rows="6" cols="50"  name="content" placeholder="Enter post here"></textarea><br>

	<input type="submit" value="Submit Post">
</form>
</div>
{% endblock %}