{% extends 'layout.html' %}
{% block body %}
{{ path|safe}}
<div class="actualpost">
	<div class="actualposttitle">
		<a href="/viewpost?post={{ post.id }}">{{post.title}}</a>
		<div class="postposter">
			by {{ post.user.username }}

		</div>
		<div class="posttime">
			{{ post.get_time_string() }}
		</div>
	</div>
	<div class="postcontent whitespace">
		{{post.content}}
	</div>

</div>
<div class="addcomment">
	<form action="/action_comment?post={{ post.id }}" method="POST">
		<textarea class="inputbox" rows="4" name="content" cols="50"></textarea><br>
		<input class="inputbox" type="submit" value="Comment">
	</form>
</div>
{%if comments%}
<div class="comments">
{% for comment in comments %}
	({{ comment.user.username }}) - {{ comment.content }}

{% endfor %}
</div>
{% endif %}
{% endblock %}